body {
  margin: 0;
}
/* id can only have on object. classea can have multple */

#game {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: aqua;
}
.bg {
  width: 50%;
  height: 50%;
  background-color: brown;
}
.menu {
  width: 80%;
  height: 100vh;
  padding: 10;
  background-color: rgb(213, 140, 140);
}
.dialogue-container {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  height: 40%;
  padding: 10px;
  box-sizing: border-box;
}
.dialogue {
  width: 100%;
  height: 100%;
  background-color: rgba(144, 135, 183, 0.639);
}
